
    @media  (min-width: 320px) and (max-width: 650px){
        body{
            background-image: linear-gradient(130deg, purple, rgb(50, 50, 158));
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .header{
            display: none;
        }
        .title{
            transform: scale(0);
            font-size: 0.9rem;
            width: 80%;
        }
        .logo{
            animation: opacity ease infinite 2s;
            animation-duration: 4s;
            font-size: 2rem;
        }
        @keyframes opacity {
            0%{
                opacity: 0;
            }
            25%{
                opacity: 1;
                color: rgb(255, 0, 255);
            }
            50%{
                opacity: 0;
            }
            75%{
                opacity: 1;
                color: rgb(81, 81, 255);
            }
            100%{
                opacity: 0;
                color: rgb(81, 81, 255);
            }
            
        }
        .ion-navicon-round{
            font-size: 2rem;
            position: absolute;
            right: 5%;
            top: 1.5%
        }
        .offcanvas{
            position: fixed;
            width: 30vw;
            height: 100vh;
            background: rgba(83, 83, 83, 0.918); 
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            transform: translateX(100%);
            transition: all ease 0.5s;
            border: 0;
            margin: 0;
            z-index: 1;
        }
        .offcanvas, ul{
            width: 100%;
        }
        .close{
            -webkit-transform: translateY(-42vh);
        }
        .offcanvas.active{
            transform: translateX(0);
        }
        .ion-close-round{
            font-size: 1.7rem;
            margin-left: 90%;
        }
        ul{
            gap: 20px;
            margin-top: 15vh;
            margin-right: 2.5vw;
        }
        li{
            font-size: 1.2rem;
            color: white;
            border-radius: 0;
            border-bottom: solid 1px black;
            -webkit-tap-highlight-color: transparent;
            padding-left: 45px;
            padding-right: 45px;
            padding-top: 20px;
            padding-bottom: 20px;
    
        }
        a:active{
            animation-name: color;
            animation-duration: 1s;
        }
        @keyframes color{
            0%{
                color: aqua;
                background-color: rgba(39, 38, 38, 0.589);
            }
            100%{
                color: white;
                background-color: transparent;
            }
        }
        .home{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        .homepage{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            position: relative;
            left: 0;
            transform: scale(0);
        }
        .h3Withbuttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            width: 90%;
            color: white;
        }
        .h3Withbuttons h3{
            width: 90%;
        }
        .homepageimg{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .img2{
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }
        .break2{
            height: 1%;
            width: 100%;
            border: 1px solid;
            margin: 10% 0 5% 0;
            color: white;
        }
        .circle{
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border-left: 5px solid rgb(50, 50, 158);
            border-top: 5px solid rgb(50, 50, 158);
            border-right: 5px solid purple;
            border-bottom: 5px solid purple;
            transition: all linear 1s;
            animation: colorRotate 1s infinite linear;
            animation-duration: 2.5s;
        }
        @keyframes colorRotate {
            0%{
                transform: rotateZ(0deg);
                border-left: 5px solid rgb(50, 50, 158);
                border-top: 5px solid rgb(50, 50, 158);
                border-right: 5px solid purple;
                border-bottom: 5px solid purple;
                box-shadow: 5px 0 50px rgb(47, 47, 202);
            }
            25%{
                border-left: 5px solid rgb(50, 50, 158);
                border-top: 5px solid rgb(50, 50, 158);
                border-right: 5px solid purple;
                border-bottom: 5px solid purple;
                box-shadow: 5px 0 50px rgb(47, 47, 202);
            }
            50%{
                border-left: 5px solid rgb(32, 32, 155);
                border-top: 5px solid rgb(32, 32, 155);
                border-right: 5px solid rgb(255, 0, 255);
                border-bottom: 5px solid rgb(255, 0, 255);
                box-shadow: -5px 0 50px rgb(255, 0, 255);
            }
            75%{
                border-left: 5px solid rgb(32, 32, 155);
                border-top: 5px solid rgb(32, 32, 155);
                border-right: 5px solid rgb(255, 0, 255);
                border-bottom: 5px solid rgb(255, 0, 255);
                box-shadow: -5px 0 50px rgb(255, 0, 255);
            }
            100%{
                transform: rotateZ(360deg);
                border-left: 5px solid rgb(50, 50, 158);
                border-top: 5px solid rgb(50, 50, 158);
                border-right: 5px solid purple;
                border-bottom: 5px solid purple;
                box-shadow: 5px 0 50px rgb(47, 47, 202);
            }
    
        }
        .homebuttons{
            display: none;
        }
        .homebuttons2{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            line-height: 8;
        }
        .seeproject2{
            box-shadow: 5px 5px 10px rgb(255, 0, 255);
            background-image: linear-gradient(to right, rgb(50, 50, 158), rgb(255, 0, 255));
            border: none;
            padding: 15px;
            margin-left: -5%;
            border-radius: 1rem;
            color: white;
            font-size: 1.1rem;
            transition: all ease 0.1s;
        }
        .seeproject2:active{
            cursor: pointer;
            color: white;     
            transform: scale(0.97);
            background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(32, 32, 155));
            box-shadow: 40px 0 80px rgb(209, 2, 209),-40px 0 80px rgb(209, 2, 209);
        }
        .contactMe2{
            padding: 15px;
            border-radius: 1rem;
            margin-left: -3%;
            color: white;
            border: none;
            font-size: 1.1rem;
            box-shadow: 5px 5px 10px rgb(255, 0, 255);
            background-image: linear-gradient(to right, rgb(50, 50, 158), rgb(255, 0, 255));
            transition: all ease 0.1s;
        }
        .contactMe2:active{
            cursor: pointer;
            color: white;     
            transform: scale(0.97);
            background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(32, 32, 155));
            box-shadow: 40px 0 80px rgb(209, 2, 209),-40px 0 80px rgb(209, 2, 209);
        }
    }
    




