@media (min-width: 651px) and (max-width: 1024px){
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header{
        display: none;
    }
    .title{
        transform: scale(0);
    }
    .logo{
        font-size: 2rem;
        animation: opacity ease infinite 2.5s;
    }
    @keyframes opacity{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .ion-navicon-round{
        font-size: 2rem;
        position: fixed;
        right: 1.5%;
        top: 1.5%
    }
    .offcanvas{
        position: fixed;
        width: 30vw;
        height: 100vh;
        background: rgba(83, 83, 83, 0.836); 
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        transform: translateX(100%);
        transition: all ease 0.5s;
        border: 0;
        margin: 0;
        z-index: 1;
    }
    .offcanvas, ul{
        width: 100%;
    }
    .close{
        -webkit-transform: translateY(-42vh);
    }
    .offcanvas.active{
        transform: translateX(0);
    }
    .ion-close-round{
        font-size: 1.7rem;
        margin-left: 90%;
    }
    ul{
        gap: 20px;
        margin-top: 15vh;
        margin-right: 2.5vw;
    }
    li{
        font-size: 1.2rem;
        color: white;
        border-radius: 0;
        border-bottom: solid 1px black;
        -webkit-tap-highlight-color: transparent;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    a:active{
        animation-name: color;
        animation-duration: 1s;
    }
    @keyframes color{
        0%{
            color: aqua;
            background-color: rgba(39, 38, 38, 0.589);
        }
        100%{
            color: white;
            background-color: transparent;
        }
    }
    .home{
        margin-left: 1%;
    }
    .homepage{
        transform: scale(0);
    }
    .homepage, h3{
        color: white;
        display: flex;
    }
    .homepage h3 {
        border-right: 2px solid;
        height: 100%;
    }
    .img2{
        border-radius: 50%;
        border: solid 2px aqua;
        width: 350px;
        height: 350px;
        margin-right: 0.5rem;
    }
    .homebuttons{
        display: none;
    }
    .homebuttons2{
        display: flex;
        justify-content: space-evenly;
        border-right: 2px solid;
    }
    .seeproject2{
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        padding: 15px;
        border-radius: 1rem;
        color: white;
        font-size: 1.1rem;
        transition: all ease 0.1s;
    }
    .seeproject2:active{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
    .contactMe2{
        padding: 15px;
        border-radius: 1rem;
        color: white;
        font-size: 1.1rem;
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        transition: all ease 0.1s;
    }
    .contactMe2:active{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
}
@media  (min-width: 850px) and (max-width: 1024px){
    .img2{
        width: 400px;
        height: 400px;
    }
}