@media (min-width: 1281px){
    body{
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
    }
    .open-btn, .offcanvas{
        display: none;
    }
    .ion-navicon-round{
        display: none;
    }
    ul{
        gap: 70px;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    a:hover{
        transition: all ease 0.5s;
        color: aqua;
    }
    .home{
        margin-top: -27rem;
        margin-left: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        transform: scale(0%);
    }
    .img2{
        width: 500px;
        height: 450px;
        border-radius: 3rem;
        border: solid 3px aqua;
        margin-left: 2rem;
    }

    .homepage,h3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        font-size: 1.5rem;
    }
    .homebuttons{
        display: none;
    }
    .homebuttons2{
        display: flex;
        margin-left: 21rem;
        margin-top: -6rem;
        transform: translateX(-100%);
    }
    .seeprojects2{
        width: 20%;
    }
    .seeproject2{
        padding: 20px;
        border-radius: 1rem;
        color: white;
        font-size: 1.2rem;
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        transition: all ease 0.3s;
    }
    .seeproject2:hover{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
    .contactme2{
        width: fit-content;
        height: fit-content;
    }
    .contactMe2{
        padding: 20px;
        border-radius: 1rem;
        color: white;
        font-size: 1.2rem;
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        transition: all ease 0.3s;
    }
    .contactMe2:hover{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
    .contactMe:target{

    }
    .logo{
        animation: opacity ease infinite 2s;
    }
    @keyframes opacity {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
        
    }
    .header{
        transform: translateX(-100%);
    }
    ul{
        transform: translateX(-100%);
    }
    .title{
        transform: scale(0);
    }
}



@media (min-width: 1025px) and (max-width: 1280px) {
    .img{
        display: none;
    }
    .ion-navicon-round{
        display: none;
    }
    body{
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
    }
    .open-btn, .offcanvas{
        display: none;
    }
    ul{
        gap: 70px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    a:hover{
        transition: all ease 0.5s;
        color: aqua;
    }
    .home{
        margin-top: -25rem;
        margin-left: 14rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transform: scale(0);
    }
    .img2{
        width: 300px;
        height: 300px;
        border-radius: 3rem;
        border: solid 3px aqua;
        margin-left: 2rem;
    }
    .homepage,h3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        color: white;
        font-size: 1.4rem;
    }
    .homebuttons{
        margin-top: 50vh;
        transform: translateX(0%);
    }
    .seeprojects{
        -webkit-transform: translateX(-65.6vw);
        width: 127%;
        height: fit-content;
        margin-top: -8rem;
    }
    .seeproject{
        padding: 20px;
        border-radius: 1rem;
        color: white;
        font-size: 1rem;
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        transition: all ease 0.3s;
    }
    .seeproject:hover{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }

    .contactme{
        -webkit-transform: translateX(-45vw);
        width: fit-content;
        height: fit-content;
        margin-top: -4rem;
    }
    .contactMe{
        padding: 20px;
        border-radius: 1rem;
        color: white;
        font-size: 1rem;
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        transition: all ease 0.3s;
    }
    .contactMe:hover{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
    .contactMe:active{

    }
    .logo{
        animation: opacity ease infinite 2s;
    }
    @keyframes opacity {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
        
    }
    .header{
        transform: translateX(-100%);
    }
    .homebuttons2{
        display: none;
    }
    ul{
        transform: translateX(-100%);
    }
    .title{
        transform: scale(0);
    }
}