body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(130deg, rgb(50, 50, 158), purple);
    background-attachment: fixed;
}
#canvas{
    width: 340px;
    height: 300px;
    border-radius: 50%;
    margin-top: 2%;
    box-shadow: 1px 1px 30px purple, -1px -1px 30px rgb(117, 3, 117);
    transition: all linear 2s;
    animation-name: opacity;
    animation-delay: 0s;
    animation-duration: 5.5s;
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.square{
    width: 90%;
    height: 60%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 12%;
    animation-name: opacity;
    animation-delay: 0s;
    animation-duration: 3s;
}
.square h1{
    margin-bottom: 3%;
    width: 100%;
}
@media (max-width: 1024px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background-image: linear-gradient(130deg, rgb(50, 50, 158), purple);
    }
    #canvas{
        display: none;
    }
    .homepageimg{
        margin-top: 5%;
        width: 100%;
        animation-name: opacity;
        animation-delay: 0s;
        animation-duration: 3s;
    }
    .square{

        margin-top: 10%;
        animation-name: opacity;
        animation-delay: 0s;
        animation-duration: 5s;
    }
    .square h1{
        margin-bottom: 10%;
        width: 100%;
    }
    .fa{
        margin-left: 3%;
    }
    .fa:active{
        color: rgb(255, 0, 255);
    }
}

@media (min-width: 800px) and (max-width: 1024px){

    .img2{
        margin-left: 9.3%;
        width: 350px;
        height: 350px;

    }
    .circle{
        margin-left: 9.3%;
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 799px){
    .homepageimg{
        margin-top: 10%;
    }
}

@media (min-width: 1025px) {
    a:hover{
        color: rgb(255, 0, 255);
    }
    .fa{
        margin-left: 1%;
    }
    .homepageimg{
        display: none;
    }
}