@media (min-width: 768px) and (max-width: 1024px) {
    .header{
        display: none;
    }
    .title{
        margin-right: 2rem;
        transform: scale(0);
    }
    .logo{
        font-size: 2rem;
        animation: opacity ease infinite 2.5s;
    }
    @keyframes opacity{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .ion-navicon-round{
        font-size: 2rem;
        margin-left: 90%;
        position: fixed;
    }

    .offcanvas{
        position: fixed;
        width: 30vw;
        height: 100vh;
        background: rgba(83, 83, 83, 0.836); 
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        transform: translateX(100%);
        transition: all ease 0.5s;
        border: 0;
        margin: 0;
        z-index: 1;
    }
    .offcanvas, ul{
        width: 100%;
    }
    .close{
        transform: translateY(-42vh);
    }
    .offcanvas.active{
        transform: translateX(0);
    }
    .ion-close-round{
        font-size: 1.7rem;
        margin-left: 90%;
    }
    ul{
        gap: 20px;
        margin-top: 15vh;
        margin-right: 2vw;
    }
    li{
        font-size: 1.2rem;
        color: white;
        border-radius: 0;
        border-bottom: solid 1px black;
        -webkit-tap-highlight-color: transparent;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .selected{
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 1rem;
        width: 100%;
    }
    a:active{
        animation-name: color;
        animation-duration: 1s;
    }
    @keyframes color{
        0%{
            color: aqua;
            background-color: rgba(39, 38, 38, 0.589);
        }
        100%{
            color: white;
            background-color: transparent;
        }
    }
    .home{
        margin-top: 11rem;
    }
    .homepage{
        transform: scale(0);
    }
    .homepage, h3{
        color: white;
        display: flex;
    }
    .img2{
        border-radius: 3rem;
        border: solid 2px aqua;
        width: 350px;
        height: 350px;
        margin-right: 0.5rem;
    }
    .homebuttons{
        margin-top: -4rem;
        margin-left: 5vw;
        transform: scale(0);
    }
    .seeprojects{
        width: fit-content;
        height: fit-content;
        margin-left: 4vw;
    }
    .seeproject{
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        padding: 15px;
        border-radius: 1rem;
        color: white;
        font-size: 1.1rem;
        transition: all ease 0.1s;
    }
    .seeproject:active{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
    .contactme{
        width: fit-content;
        height: fit-content;
        margin-top: -3.5rem;
        margin-left: 28vw;
    }
    .contactMe{
        padding: 15px;
        border-radius: 1rem;
        color: white;
        font-size: 1.1rem;
        background-image: linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        border: solid 1px linear-gradient(to right, rgb(3, 189, 189) , rgb(50, 50, 158));
        transition: all ease 0.1s;
    }
    .contactMe:active{
        cursor: pointer;
        color: aqua;     
        transform: scale(0.97);
        background-image: linear-gradient(to right, rgb(50, 50, 158) , rgb(3, 189, 189));
    }
    .homebuttons2{
        display: none;
    }
}